.practice-completed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 26.25px 0;
}

.practice-completed-container h5 {
  margin-top: 10px;
  margin-bottom: 50px;
}

.practice-completed-container img {
  max-width: 20%;
  max-height: 20%;
  margin-bottom: 30px;
}

.practice-completed-button-group {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.practice-completed-button-group button {
  width: 150px;
}
