# Required
REVITA_URL=https://revita-test.cs.helsinki.fi/api

# Optional
PORT=8000
DB_URL=
ENVIRONMENT=development
BASE_PATH=/
COMMIT_HASH=
DEBUG=false

# Optional text-to-speech endpoints
FIN_TTS_URL=http://hpz440-2.cs.helsinki.fi:6000
ENG_TTS_URL=http://hpz440-2.cs.helsinki.fi:6001

# Optional external services
MT_URL=http://svm-58.cs.helsinki.fi:8888
YANDEX_KEY=
