{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "semi": [
      "error",
      "never"
    ],
    "no-underscore-dangle": "off",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "multiline": true
      }
    ],
    "no-shadow": 0,
    "no-plusplus": 0,
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": [
          "CustomLabel"
        ],
        "labelAttributes": [
          "inputLabel"
        ],
        "controlComponents": [
          "CustomInput"
        ],
        "assert": "htmlFor",
        "depth": 3
      }
    ],
    "jsx-a11y/label-has-for": "off",
    "react/prop-types": [
      1,
      {
        "skipUndeclared": true
      }
    ]
  }
}