.lesson-completed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 3em - .5rem);
}

.lesson-completed-container h5 {
  margin-top: 10px;
  margin-bottom: 50px;
}

.lesson-completed-container img {
  max-width: 20%;
  max-height: 20%;
  margin-bottom: 30px;
}

.lesson-completed-button-group {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.lesson-completed-button-group button {
  width: 100px;
}
