.chatbot {
    position: fixed; 
    bottom: 42px; 
    right: 3px;
    width: 31.6vw;
    max-height: 80%; 
    z-index: 1000; 
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    overflow: hidden; 
    display: flex;
    flex-direction: column;

    @media (max-width: 900px) {
        max-height: 35%;
        width: 80%;
    }
}

.practice-chatbot {
    @media (max-width: 900px) {
        left: 3px;
        bottom: 10px;
    }

    @media (min-width: 900px) {
        right: 3px;
    }
}

.chatbot-toggle {
    cursor: pointer;
    // must be inline: overridden by ui-button background-color: #f9f9f9; 
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.chatbot-toggle div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatbot-context-info {
    background-color: #17a2b8;  // backgroundColor: darkblue;
    padding-left: 0.6em;
    color: white;
}

.chatbot-context-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15em;
    font-size: 1.15rem;
}

.chatbot-messages {
    height: 50vh;
    overflow-y: auto; 
    padding: 10px;
    background: floralwhite;
}

.message {
    display: flex;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    max-width: 80%; 
    @media (max-width: 900px) {
        max-width: 90%; 
    }
}

.message-user {
    justify-content: flex-end;
    margin-left: auto;
    // background-color: #dcf8c6;
    background-color: #d4eef1;
    border-style: solid;
    border-width: thin;
    border-color: #d5dee1;
}

.message-bot {
    justify-content: flex-start;
    margin-right: auto;
    // background-color: #f0f0f0; 
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: #dfecef;
}

.chatbot-input-form {
    display: flex; 
    align-items: center; 
    gap: 0.5em; 
    margin-left: 0.5em;
}

.chatbot-input-form input {
    flex-grow: 1; 
    height: 40px;
    border-radius:5px;
    border-width: thin;
    border-color: steelblue;
}

.chatbot-input-form button {
    height: 40px; 
}

