.lesson-start-menu-container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: grid;
  grid-template-columns: 60px 160px 30px;
  grid-template-rows: 80px 60px;
}

.card-content > img {
  max-width: 40px;
  max-height: 40px;
}

.card-content-header {
  display: flex;
  grid-column: 2 / 4;
}

.card-content-header span {
  font-weight: 500;
  font-size: 20px;
  margin-right: 10px;
}

.card-content > button {
  grid-column: 1 / 4;
}
