.lesson-start-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-height: 437px;
  margin: 0;
}

@media (max-width: 1100px) {
  .lesson-start-menu-container {
    min-height: 524px;
  }
}
