<FilesMatch "\.(ttf|otf|eot)$">
Header set Access-Control-Allow-Origin "*"
</FilesMatch>

# Webfonts
AddType application/vnd.ms-fontobject eot
AddType application/x-font-ttf ttf ttc
AddType font/opentype otf
AddType application/x-font-woff woff