
 


/* svg g:hover {
  fill: #7be3f6;
  fill-opacity: 0.7;
} */

/* svg g:hover text {
  fill-opacity: 1;
} */

/* svg g.hexagon {
  fill: #FFF; */
  /* fill-opacity: 0.6; */
/* } */

svg g.hexagon {
  fill: #f8f8f8;
  /* fill-opacity: 0.6; */
}

svg g.hexagon-general g.hexagon {
    /* fill: #add8e6; */
    fill: cyan;
}

svg g.hexagon-root g.hexagon {
  fill: #7eaaf1;
  /*fill: #7eaaf1;*/ 
  /* fill-opacity: 0.6; */
 }

svg g.hexagon polygon {
  stroke: #909090;
  stroke-width: 0.1;
  /* transition: fill-opacity .5s; */
}
svg.grid g path {
  fill: none;
  stroke: #b1b1b1;
  stroke-width: 0.0.5em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

text.hexagon-text {
  font-size: 0.22em;
  font-weight: 400;
  fill: rgb(42, 42, 42);
}

text.hexagon-root {
  font-size: 0.35em;
  font-weight: 400;
  fill: rgb(42, 42, 42);
}

g.scoreNone g { fill: white }
g.score0 g { fill: #fc6c85 }
g.score1 g { fill: #fb6e86 }
g.score2 g { fill: #fb7188 }
g.score3 g { fill: #fb748a }
g.score4 g { fill: #fb778c }
g.score5 g { fill: #fb798d }
g.score6 g { fill: #fb7c8f }
g.score7 g { fill: #fb7f91 }
g.score8 g { fill: #fb8293 }
g.score9 g { fill: #fa8594 }
g.score10 g { fill: #fa8796 }
g.score11 g { fill: #fa8a98 }
g.score12 g { fill: #fa8d9a }
g.score13 g { fill: #fa909b }
g.score14 g { fill: #fa929d }
g.score15 g { fill: #fa959f }
g.score16 g { fill: #fa98a1 }
g.score17 g { fill: #f99ba2 }
g.score18 g { fill: #f99ea4 }
g.score19 g { fill: #f9a0a6 }
g.score20 g { fill: #f9a3a8 }
g.score21 g { fill: #f9a6a9 }
g.score22 g { fill: #f9a9ab }
g.score23 g { fill: #f9abad }
g.score24 g { fill: #f9aeaf }
g.score25 g { fill: #f9b1b1 }
g.score26 g { fill: #f8b4b2 }
g.score27 g { fill: #f8b7b4 }
g.score28 g { fill: #f8b9b6 }
g.score29 g { fill: #f8bcb8 }
g.score30 g { fill: #f8bfb9 }
g.score31 g { fill: #f8c2bb }
g.score32 g { fill: #f8c4bd }
g.score33 g { fill: #f8c7bf }
g.score34 g { fill: #f7cac0 }
g.score35 g { fill: #f7cdc2 }
g.score36 g { fill: #f7d0c4 }
g.score37 g { fill: #f7d2c6 }
g.score38 g { fill: #f7d5c7 }
g.score39 g { fill: #f7d8c9 }
g.score40 g { fill: #f7dbcb }
g.score41 g { fill: #f7ddcd }
g.score42 g { fill: #f6e0ce }
g.score43 g { fill: #f6e3d0 }
g.score44 g { fill: #f6e6d2 }
g.score45 g { fill: #f6e9d4 }
g.score46 g { fill: #f6ebd5 }
g.score47 g { fill: #f6eed7 }
g.score48 g { fill: #f6f1d9 }
g.score49 g { fill: #f6f4db }
g.score50 g { fill: #f6f7dd }
g.score51 g { fill: #f3f6db }
g.score52 g { fill: #f1f6d9 }
g.score53 g { fill: #eff6d8 }
g.score54 g { fill: #edf6d6 }
g.score55 g { fill: #ebf6d5 }
g.score56 g { fill: #e9f6d3 }
g.score57 g { fill: #e7f5d2 }
g.score58 g { fill: #e5f5d0 }
g.score59 g { fill: #e3f5cf }
g.score60 g { fill: #e1f5cd }
g.score61 g { fill: #dff5cc }
g.score62 g { fill: #ddf5ca }
g.score63 g { fill: #dbf4c8 }
g.score64 g { fill: #d9f4c7 }
g.score65 g { fill: #d7f4c5 }
g.score66 g { fill: #d5f4c4 }
g.score67 g { fill: #d3f4c2 }
g.score68 g { fill: #d1f4c1 }
g.score69 g { fill: #cff3bf }
g.score70 g { fill: #cdf3be }
g.score71 g { fill: #cbf3bc }
g.score72 g { fill: #c9f3bb }
g.score73 g { fill: #c7f3b9 }
g.score74 g { fill: #c5f3b8 }
g.score75 g { fill: #c3f3b6 }
g.score76 g { fill: #c0f2b4 }
g.score77 g { fill: #bef2b3 }
g.score78 g { fill: #bcf2b1 }
g.score79 g { fill: #baf2b0 }
g.score80 g { fill: #b8f2ae }
g.score81 g { fill: #b6f2ad }
g.score82 g { fill: #b4f1ab }
g.score83 g { fill: #b2f1aa }
g.score84 g { fill: #b0f1a8 }
g.score85 g { fill: #aef1a7 }
g.score86 g { fill: #acf1a5 }
g.score87 g { fill: #aaf1a4 }
g.score88 g { fill: #a8f0a2 }
g.score89 g { fill: #a6f0a0 }
g.score90 g { fill: #a4f09f }
g.score91 g { fill: #a2f09d }
g.score92 g { fill: #a0f09c }
g.score93 g { fill: #9ef09a }
g.score94 g { fill: #9cef99 }
g.score95 g { fill: #9aef97 }
g.score96 g { fill: #98ef96 }
g.score97 g { fill: #96ef94 }
g.score98 g { fill: #94ef93 }
g.score99 g { fill: #92ef91 }
g.score100 g { fill: #90ef90 }
