.content {
  padding: 10px;
  padding-bottom: 5em;
  min-height: calc(100vh - 2em);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 110em;
  margin: 0 auto;
}

.word-interactive:hover {
  background-color: #10d3ff;
}

.word-interactive{
  cursor:pointer;
}

.word-interactive--exercise {
  background-color: lightblue;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}