$wrong-color-background: #FFDADA;
$wrong-color: #ff0000;
$right-color: #008000;
$primary-color: hsla(208, 56%, 55%, 1);
$button-border-color: #76c8d4;
$tertiary-border-color: #f0f0f0;
$secondary-text-color: #777;
$primary-hover: lightblue;
$white: #fff;
$lightblue: #DCF6FF;
$background: #fafafa;


// Tooltip colors
$tooltip-blue: rgba(30, 120, 225, 1);
$tooltip-green: green;

$default-font: Arial;
$sidebar-swipeable-width: 1em;

$navbar-height:3em;

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

// BOOTSTRAP OVERRIDES FROM REVITA:
.btn-primary {
  color: $white;
  background-color: $primary-color;
  border-color: $button-border-color
}

.btn-secondary {
  color: $secondary-text-color;
  background-color: $white;
  border-color: $button-border-color
}

.btn-tertiary {
  color: $secondary-text-color;
  background-color: $white;
  border-color: $tertiary-border-color;
}

.btn-toggle-on {
  @extend .btn-primary;
}

.btn-toggle-off {
  @extend .btn-secondary;
}

.modal {
  left:unset;
  position: relative !important;
  height: auto;
}

// SEMANTIC UI OVERRIDES:
.ui.input>input  {
  font-family: $default-font
}

.ui.dropdown .menu {
  max-height: 11em !important;
}

.ui.attached.tabular.menu {
  max-width: 1024px;
  margin: auto;
  margin-bottom: 1em;
}

.ui.modal>.actions {
  @media only screen and (max-width: 767px) {
    padding: 1rem !important;
  }
}

// REACT VIRTUALIZED OVERRIDES:
.ReactVirtualized__Grid__innerScrollContainer {
  overflow: initial !important;
}

.ReactVirtualized__Grid {
  overflow: initial !important;
}

// MISC CSS:
.application-content {
  padding-bottom: 5em;
  padding-top: 1em;
  min-height: 100vh;
  width: 100%;
  padding: 1em 0.2em 5em 0.2em;
  & > div {
    margin: auto;
  }
}

.component-container {
  margin: auto;
  max-width: 1024px;
}

.word-interactive{
  cursor:pointer;

  &:hover{
    background-color: $primary-hover;
  }

  &--exercise{ // Related to snippet history...
    background-color: lightblue;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

}

.cloze {
  &.untouched{
    background-color:#ffff83;
  }
  &.touched {
    background-color: lightyellow;
  }
}

.hearing {
  &.untouched {
    background-color: $lightblue;

  }
  &.touched{
    background-color: #cdf3ff;

  }
}

.exercise-multiple{
  height:1em;
  min-height: 0 !important;
  line-height: 0 !important;
  border-radius: 6px !important;
  border:none !important;

  &.untouched {
    background-color: #ccade6 !important;
  }

  &.touched {
    background-color: #dacbe6 !important;
  }

}

.wrong {
  background-color: $wrong-color-background;
}

.correct {
  background-color: yellowgreen;
}

.wrong-text {
  color: $wrong-color;
}

.wrong-text-background {
  background-color: $wrong-color;
}

.right-text {
  color: $right-color;
}

.right-text-background{
  background-color: $right-color;
  color:white;
}

.chunk {
  border: 1px solid red;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar {
  background-color: $primary-color;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height:$navbar-height;
  z-index: 100;
  position: sticky;
  width: 100%;
  top: 0;
}

.story-text-input {
  width: 100%;
  height: 20vh;
}


.sidebar{
  &-hamburger{
    z-index: 100;
    padding-top: 0.2em;
    cursor: pointer;
    // position: fixed;
    //padding:0.3em;
    // height:40px;
    // width:40px;
    //background-color: white;
  }

  &-swipeable {
    width: $sidebar-swipeable-width;
    left: 0;
    top:0;
    z-index: 100;
    position: fixed;
    height: 100vh;
  }

  &-content{
    display:flex;
    flex-direction: column;
    height:100%;
  }
}

.practice-container{
  margin-bottom: 1em;
  word-spacing: 1px;
  line-height: 2em;
  font-family: $default-font;
}

.dictionary-button {
  position: fixed;
  right: 0.5%;
  bottom: 0.5%;
  background-color: $background;
}

.dictionary-help {
  width: 350px;
  margin-left: 1em;
  align-self: flex-start;
  height: auto;
  position: sticky;
  top: 1em + $navbar-height;
  @media (max-width: 1023px) {
    position: fixed;
    top: auto;
    right: 1em;
    bottom: 2%;
    width: calc(100vw - 2em)
  }
}

.library-control {
  padding: 0 0.5em 1em 0.5em;
  margin-top: -0.5em;
  & > * {
    margin-top: 0.5em;
  }
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // flex-wrap: wrap;
  // margin: 10px 0;
  // //padding: 0 0.5em 0 0.5em;
  @media (min-width: 640px) {
     display: flex;
     padding-top: 1em;
  }
}

.checkbox-group {
  display: flex;
  button {
    height: 38px;
    &:focus {
      box-shadow: none;
    }
  }
  @media (min-width: 640px) {
    margin-left: auto;
 }
}

.search-and-sort {
  display: flex;
  //flex-basis: 100%;
}

.story-item-dropdown {
  & > a {
    color: rgba(0,0,0,.87) !important;
  }
}

.story-item-title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow:    ellipsis;
  @media (min-width: 640px) {
    &:hover {
      cursor: pointer;
    }
  }
}

.story-item-group {
  white-space: nowrap;
  margin-left: 1em;
}

.auto {
  &-right {
    margin-right: auto;
  }
  &-left {
    margin-left: auto;
  }
}

.padding-bottom {
  &-1 {
    padding-bottom: 0.5em;
  }
  &-2 {
    padding-bottom: 1em;
  }
  &-3 {
    padding-bottom: 2em;
  }
}

.padding-top {
  &-1 {
    padding-top: 0.5em;
  }
  &-2 {
    padding-top: 1em;
  }
  &-3 {
    padding-top: 2em;
  }
}

.padding-right {
  &-1 {
    padding-right: 0.5em;
  }
  &-2 {
    padding-right: 1em;
  }
  &-3 {
    padding-right: 2em;
  }
}

.gap {
  &-1 {
    margin-left: -0.5em;
    & > * {
      margin-left: 0.5em
    }
  }
  &-2 {
    margin-left: -1em;
    & > * {
      margin-left: 1em
    }
  }
}

.flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

.column-sort {
  cursor: pointer;
}

.group-container {
  max-width: 1024px;
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;

  &.nogroups{
    display:flex;
    flex-direction: column;

    #title{
      padding-bottom: 1em;
    }

  }

}

.group-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -0.2em;
  > * {
    margin-left: 0.2em;
  }
}

.group-form > .form-control {
  margin-bottom: 1em;
}

.label {
  font-size: 1.1em;
  font-weight: 600;
}

.additional-info {
  font-style: italic;
  color: gray;
  padding: 0.2em;
}

.flashcard {
  display: flex;
  flex-direction: column;
  width: 21em;
  height: 35em;
  max-width: 90%;
  margin: auto auto 3em auto;
  padding: 1em 1.5em;
  border: 0.1em solid grey;
  border-radius: 0.8em;
  box-shadow: 0.5em 0.5em 0.6em grey;
  background-color: hsla(208, 56%, 55%, 1);
  color: #fff;
  &:focus {
    outline: none;
  }

  &-container {
    display: flex;
  }

  &-content {
    display: flex;
    flex-direction: column;
    height: 31em;
  }

  &-header {
    height: 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-weight: 550;
  }

  &-text-container {
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
  }

  &-title {
    height: 3.5em;
    display: flex;
    justify-content: center;
    position: sticky;
  }

  &-hint {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &-translations {
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    & > ul {
      max-height: 16em;
      padding-left: 0;
    }
  }

  &-no-cards {
    flex: 1;
    font-size: 1em;
    font-weight: 550;
    display: flex;
    align-items: center;
    overflow: auto;
  }

  &-input-and-result-container {
    height: 11em;
    display: flex;
    padding-top: 1em;
  }

  &-input {
    flex-grow: 1;
    padding-left: 1em;
    padding-right: 1em;
  }

  &-button {
    margin-top: 1em;
    background-color: white;
  }

  &-result {
    margin: auto;
  }

  &-hint-button {
    font-weight: 550;
    font-size: 1.1em;
    color: white;
  }

  &-blended-input {
    background-color: inherit;
    border: none;
    &:focus {
      outline: none;
    }
  }

  &-footer {
    height: 2em;
    display: flex;
    flex-direction: row;
    & > button {
      margin-left: auto;
      color: white;
      font-weight: 550;
      padding-right: 0;
    }
    & > select {
      background-color: inherit;
      border: none;
      color: white;
      font-weight: 550;
      width: 7em;
      &:focus {
        outline: none;
      }
      & > option {
        color: black;
      }
    }
  }

  &-arrow-button {
    height: 6em;
    margin: auto;
    background-color: white;
    border: none;
    color: hsla(208, 56%, 55%, 1);
    &:focus {
      outline: none;
    }
    &:hover {
      color: #0069d9
    }
    &:disabled {
      color: grey
    }
    @media (max-width: 720px) {
      display: none;
    }
  }

  &-new-button {
    width: 21em;
    max-width: 90%;
    margin: auto;
  }
}



.tooltip { //Overwrites react-popper-tooltip styles.

  &-container {
    text-align: center;
    padding: 0;

    &.clickable{
      &:hover{
        cursor: pointer;
      }
    }

  }

  &-blue {
    background-color: $tooltip-blue;
    color:white;
  }

  &-green{
    background-color: $tooltip-green;
    color:white;
  }
}

.story-item-dropdown {
  .delete-button{
    color:white !important;
  }
}

.offline-notification{
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.8;

  h3 {
    margin:1em;
  }

}

.concept {
  padding-left: 1em;
  input {
    margin-right: 0.5em;
  }

  &-row {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    &:focus {
      outline: none;
    }
  }

  &-name {
    padding-right: 0.3em;
    &:focus {
      outline: none;
    }
  }

  &-disabled {
    color: gray;
  }

  &-title {
    font-size: 24px;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
  }

  &-enable-all {
    padding: 0.1em 0 0 0.8em;
    font-size: 18px;
    display: flex;
  }

  &-toggles {
    padding-left: 0.9em;
    margin-left: -1em;
    display: flex;
  }

  &-toggle {
    margin-left: 1em;
  }

  &-level {
    color: gray;
  }

  &-caret {
    width: 1.5em;
  }
}

.spinner-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestedSources{

  &-container{
    padding-top: 1em;
  }
  
  &-row{
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  }
}

.table-progress-bar {
  height: 2em;
  width: 100%;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  & span:first-child {
    margin-bottom: 0;
    font-size: 34px;
    font-weight: 600;
    color: darkgreen;
  }

  & span:nth-child(2) {
    text-align: center;
    color: gray;
  }
}

.date-pickers {
  display: flex;
  flex-wrap: wrap;
}