.navbar {
  height: 5em;
  background-color: whitesmoke;
}

.content {
  padding: 10px;
  min-height: calc(100vh - 10em);
  display: flex;
  flex-direction: column;
  max-width: 60em;
  margin: 0 auto;
}

.footer {
  height: 5em;
  background-color: whitesmoke;
}

.word-interactive:hover {
  background-color: #10d3ff;
}

.word-interactive{
  cursor:pointer;
}