@use "sass:map";

@font-face {
	font-family: 'EastSyriacCtesiphon';
	src: local('East Syriac Ctesiphon');
	src: url('./fonts/syrcomctesiphon.eot');
	src: url('./fonts/syrcomctesiphon.eot?#iefix') format('embedded-opentype'), url('./fonts/syrcomctesiphon.woff') format('woff'), url('./fonts/syrcomctesiphon.ttf') format('truetype'), url('./fonts/syrcomctesiphon.svg#syrcomctesiphon') format('svg');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'NotoSansSyriacEastern';
	src: local('Noto Sans Syriac Eastern');
	src: url('./fonts/NotoSansSyriacEastern-Regular.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}

$spacing: ("xs": .2rem, "sm": .5rem, "nm": 1rem, "lg": 2rem, "xl": 3rem);

$wrong-answer-background-color: #FFDADA;
$primary-color: #4c91cd;
$button-border-color: #76c8d4;
$secondary-text-color: #777;
$white: #fff;
$action-text-hover-color: #2185D0;
$tooltip-blue: rgba(30, 120, 225, 1);
$tooltip-green: green;

$default-font: Arial;

$sidebar-swipeable-width: 1em;
$navbar-height: 3em;
$application-content-top-padding: map.get($spacing, "sm");

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

html, body, #root {
  height: 100%;
}

// HELPERS
@each $size, $value in $spacing {
  .pt-#{$size} {
    padding-top: $value;
  }
}

@each $size, $value in $spacing {
  .pb-#{$size} {
    padding-bottom: $value;
  }
}

@each $size, $value in $spacing {
  .pr-#{$size} {
    padding-right: $value;
  }
}

@each $size, $value in $spacing {
  .pl-#{$size} {
    padding-left: $value;
  }
}

@each $size, $value in $spacing {
  .ps-#{$size} {
    padding-left: $value;
    padding-right: $value;
  }
}

@each $size, $value in $spacing {
  .mt-#{$size} {
    margin-top: $value;
  }
}

@each $size, $value in $spacing {
  .mb-#{$size} {
    margin-bottom: $value;
  }
}

@each $size, $value in $spacing {
  .mr-#{$size} {
    margin-right: $value;
  }
}

@each $size, $value in $spacing {
  .ml-#{$size} {
    margin-left: $value;
  }
}

.auto {
  margin: auto;

  &-right {
    margin-right: auto;
  }
  &-left {
    margin-left: auto;
  }
  &-top {
    margin-top: auto;
  }
}

@each $size, $value in $spacing {
  .gap-row-#{$size} {
    & > :not(:last-child) {
      margin-bottom: $value;
    }
  }
}

@each $size, $value in $spacing {
  .gap-col-#{$size} {
    & > :not(:last-child) {
      margin-right: $value;
    }
  }
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-end {
  align-items: flex-end;
}

.align-self-end {
  align-self: flex-end
}

.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.align-right {
  text-align: right;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.grow-children {
  & > * {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.flex-static-size {
  flex: 0 0 auto;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.header-2 {
  font-size: 22px;
}

.header-3 {
  font-size: 20px;
}

.bold-italics {
  font-size: 14px;
  font-weight: 550;
  font-style: italic;
}

.clickable {
  cursor: pointer;
}

.bold {
  font-weight: 550;
}

.italics {
  font-style: italic;
}

.auto-overflow {
  overflow: auto;
}

.full-width {
  width: 100%;
}

// BOOTSTRAP OVERRIDES FROM REVITA:
.btn-primary {
  color: $white;
  background-color: $primary-color;
  border-color: $button-border-color
}

.btn-secondary {
  color: $secondary-text-color;
  background-color: $white;
  border-color: $button-border-color
}

.btn-tertiary {
  color: $secondary-text-color;
  background-color: $white;
  border-color: #f0f0f0;
}

.btn-toggle-on {
  @extend .btn-primary;
}

.btn-toggle-off {
  @extend .btn-secondary;
}

.home-btn-wide {
  height: 10em!important;
  background-size: cover!important;
  background-position: center!important;
  color: white!important;
  text-shadow: 0 0 3px #000000, 0 0 5px #0000FF!important;
}

.modal {
  left:unset;
  position: relative !important;
  height: auto;
}

.react-datepicker__input-container > input {
    width: 120px;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 0.25em;
    padding-left: 0.5em;
}

// SEMANTIC UI OVERRIDES:
.ui.input>input  {
  font-family: $default-font
}

.ui.dropdown .menu {
  max-height: 11em !important;
  overflow: auto;
}

.ui.attached.tabular.menu {
  max-width: 1024px;
  margin-bottom: 1em;
}

.ui.modal>.actions {
  @media only screen and (max-width: 767px) {
    padding: 1rem !important;
  }
}

.ui.card>.content:after, .ui.cards>.card>.content:after {
  content: none;
}

.ui.placeholder .line:after, .ui.placeholder .line:before {
  height: 0;
}

// REACT VIRTUALIZED OVERRIDES:
.ReactVirtualized__Grid__innerScrollContainer {
  overflow: initial !important;
}

.ReactVirtualized__Grid {
  overflow: initial !important;
}

//Custom filepicker
[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
 
[type="file"] + label {
  background-color: #17a2b8;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: 1em;
  margin: 0;
  min-width: 10em;
  justify-content: center;
}
  
[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #138496;
}
  
[type="file"]:focus + label {
  outline: 1px dotted #000;
}

// SEMANTIC CLASSES:
.application-content {
  min-height: calc(100vh - #{$navbar-height});
  width: 100%;
  padding-right: map.get($spacing, "xs");
  padding-left: map.get($spacing, "xs");
  padding-top: $application-content-top-padding;
}

.cont {
  width: 100%;
  max-width: 1024px;

  &-tall {
    min-height: calc(100vh - #{$navbar-height} - #{$application-content-top-padding});
  }

  &-narrow {
    width: 100%;
    max-width: 720px;
  }
}

.headroom {
  z-index: 99!important;
}

.tour-mobile-message {
  font-size: 1rem;
}

.navbar {
  background-color: $primary-color;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height:$navbar-height;
  z-index: 100;
  position: sticky;
  width: 100%;
  top: 0;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-revita-logo {
    color: white!important;
    margin-right: 2em;

    @media (max-width: 755px) {
      margin-right: 1em;
    }
  }

  &-basic-item {
    color: white;
    margin-left: 0.3em!important;
    margin-right: 0.3em!important;
    cursor: pointer;
  
    @media (max-width: 755px) {
      margin-left: 0.2em;
      margin-right: 0.2em;
    }
  }

  &-text-item {
    color: white!important;
    margin-right: 2em;

    @media (max-width: 755px) {
      margin-right: 1em;
    }
  }

  &-dropdown-text {
    color: white!important;
    margin-right: 0em;
  }

  &-dropdown-icon-cont {
    margin-left: 0.3em;
    margin-right: 0.3em;

    @media (max-width: 755px) {
      margin-left: 0.2em;
      margin-right: 0.2em;
    }
  }

  &-dropdown-icon{
    color: white;
    margin-right: -0.15em!important;
  }

  &-basic-item:hover, &-dropdown-icon:hover, &-text-item:hover, &-dropdown-text:hover {
    text-decoration: underline;
  }

  &-external-link {
    &:visited {
      color: #212529;
      background-color: #FFFFFF;
    }

    &:hover {
      color: #212529;
      background-color: #f8f9fa;
    }
  }

  &-flag:hover {
    border: 1px solid #76C8D4!important;
  }

  &-news-label {
    font-size: 0.7em!important;
  }
}

.word-interactive{
  cursor:pointer;

  &:hover{
    background-color: lightblue;
  }

  &--exercise{ // Related to snippet history...
    background-color: lightblue;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

}

.exercise {
  border-style: solid;
  border-color: lightgrey;
  border-radius: 4px;
  border-width: thin;
  padding-left: 4px;
  &:read-only {
    opacity: 0.45;
    cursor: pointer;
  }
}

.cloze-untouched{
  background-color:#fbfbb5;
}

.cloze-touched {
  background-color: lightyellow;
}

.hearing-untouched {
  background-color: #DCF6FF;

}

.hearing-touched{
  background-color: #cdf3ff;
}

.wrong {
  background-color: $wrong-answer-background-color;
}

.correct {
  background-color: #d3ffd8;
}

.exercise-multiple{
  min-height: 0 !important;
  height: 1.5em !important;
  padding: 2px 0 1px 4px !important;
  border-radius: 4px !important;
  border-style: solid !important;
  border-color: lightgrey !important;
  border-width: thin !important;
  
  &.dropdown .icon {
    padding-top: 0.3em !important;
    padding-right: 0.5em !important;
  }

  &.wrong {
    background-color: $wrong-answer-background-color !important;
  }

  &.correct {
    background-color: #d3ffd8 !important;
  }

  &.untouched {
    background-color:#fbfbb5 !important;
  }

  &.touched {
    background-color: lightyellow !important
  }
}

.wrong-text {
  color: #0000FF;
}

.wrong-text-background {
  background-color: #ff0000;
}

.right-text {
  color: green;
  font-weight: 600;
}

.story-text-input {
  width: 100%;
  height: 20vh;
}

.sidebar{
  &-hamburger{
    z-index: 102;
    cursor: pointer;
  }

  &-swipeable {
    width: $sidebar-swipeable-width;
    left: 0;
    top:0;
    z-index: 102;
    position: fixed;
    height: 100vh;
  }

  &-content{
    display:flex;
    flex-direction: column;
    height:100%;
  }
}

.practice-container{
  margin-bottom: 2em;
  word-spacing: 1px;
  line-height: 2em;
  font-family: $default-font;
}

.check-answers-button {
  width: 100%;
  padding: 0;
  border: 1px solid $button-border-color;
  border-radius: .3rem;
  margin-bottom: .5rem;
  position: relative;
  outline: 0;
  text-align: center;

  &:hover {
    border: 1px solid $primary-color;

    & > div {
      box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1)!important;
    }
  }

  &:focus {
    outline: 0;
    background-color: #d7d7d7;

    & > div {
      box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1)!important;
    }
  }

  & > div {
    height: 2.5rem;
    border-radius: .25rem;
    transition: width 500ms ease-in-out;
  }

  & > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &:disabled {
    & > div {
      background-color: #007bff;
      opacity: 0.65;
    }
  }
}


.virtual-keyboard {
  &-ctrl-alt {
    flex-grow: 0 !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  &-active-key {
    background-color: $primary-color !important;
    color: white !important;
  }
}

.dictionary-button {
  position: fixed;
  right: 0.5%;
  bottom: 0.5%;
  background-color: #fafafa;
  z-index: 1;
  @media (min-width: 695px) {
    bottom: 3em;
  }
}

.logout-button {
  position: fixed;
  right: 0;
  color: $primary-color;
  font-size: 13px;
  font-style: italic;
  background-color: $white;
  border: none;
  &:hover {
    color: $secondary-text-color;
  }
}

.dictionary-help {
  width: 350px;
  margin-left: 1em;
  align-self: flex-start;
  height: auto;
  position: sticky;
  top: 1em + $navbar-height;
  &-overlay {
    position: fixed;
    top: auto;
    right: 1em;
    bottom: 3em;
    width: calc(100vw - 2em)
  }
  @media (max-width: 639px) {
    bottom: 2%;
    width: 95%;
    margin-bottom: 1em;
  }
}

.dictionary-translations {
  & > * {
    padding-top: 1rem
  }

  &-overlay {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2rem;
    & > * {
      margin-left: 2rem
    }
  }
}

.source-word {
  cursor: pointer;
  padding-top: .5rem;
  color: slategray;
  &:hover {
    color: $action-text-hover-color;
  }
}

.library-control {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em 1em 0.5em;
  margin-top: -0.5em;
  & > * {
    margin-top: 0.5em;
  }
}

.library-selection {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 520px) {
       flex-direction: column;
    }
}

.checkbox-group {
  display: flex;
  min-width: 50%;
  button {
    height: 38px;
    &:focus {
      box-shadow: none;
    }
  }
}

.competition-results-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.competition-player-results {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.75em;
}
 
.competition-bar-label {
  transition:width .6s ease;
}

.add-story-accordion-focused-item {
  font-weight: 550;
  font-size: 1.5rem!important;
}

.add-story-accordion-item {
  font-size: 1.2rem!important;
}

.library-toggle-button-chosen {
  color: black;
  background-color: white;
  border-radius: 6px 6px 0px 0px;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: rgb(119, 119, 119);
}

.library-toggle-button-chosen:focus {
  outline: none;
}

.library-toggle-button {
  color: rgb(119, 119, 119);
  background-color: white;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgb(119, 119, 119);
}

.library-toggle-button:hover {
  color: black;
}

.library-toggle-button:active {
  outline: none;
}

.search-and-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.story-item-dropdown {
  & > a {
    color: rgba(0,0,0,.87) !important;
  }
}

.story-item-title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow:    ellipsis;
  @media (min-width: 640px) {
    &:hover {
      cursor: pointer;
      color: $action-text-hover-color;
    }
  }
}

.group-container {
  max-width: 1024px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;

  &.nogroups{
    margin-top: 2em;
    display:flex;
    flex-direction: column;

    #title{
      padding-bottom: 1em;
    }

  }

}

.group-form {
  margin-top: 1.5em;
}

.group-form > .form-control {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.label {
  font-size: 1.1em;
  font-weight: 600;
}

.sm-label {
  font-weight: 700;
  font-size: .92857143em;
}

.additional-info {
  font-style: italic;
  color: gray;
  padding: 0.2em;
}

.vertical-line {
  width: 1px;
  background-color: lightgray;
  min-height: 100%;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  opacity: 0.5
}

.flashcard {
  display: flex;
  flex-direction: column;
  width: 21em;
  height: 35em;
  margin: auto auto 3em auto;
  padding: 1em 1.5em;
  border: 0.1em solid grey;
  border-radius: 0.8em;
  box-shadow: 0.5em 0.5em 0.6em grey;
  background-color: hsla(208, 56%, 55%, 1);
  color: #fff;
  &:focus {
    outline: none;
  }

  &-content {
    display: flex;
    flex-direction: column;
    height: 31em;
  }

  &-header {
    height: 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-weight: 550;
  }

  &-text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }

  &-title {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    position: sticky;
  }

  &-title-small {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    position: sticky;
  }

  &-phonetics {
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    position: sticky;
  }

  &-hint {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &-translations {
    width: 100%;
    height: 100%;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    & > ul {
      max-height: 16em;
      padding-left: 0;
    }
  }

  &-no-cards {
    flex: 1;
    font-size: 1em;
    font-weight: 550;
    display: flex;
    align-items: center;
    overflow: auto;
  }

  &-input-and-result-container {
    height: 25%;
    display: flex;
    padding-top: 1em;
    margin-bottom: 3em;
  }

  &-input {
    flex-grow: 1;
    padding-left: 1em;
    padding-right: 1em;
  }

  &-button {
    margin-top: 1em;
    background-color: white;
  }

  &-result {
    margin: auto;
  }

  &-hint-button {
    font-weight: 550;
    font-size: 1.1em;
    color: white;
  }

  &-blended-input {
    background-color: inherit;
    border: none;
    &:focus {
      outline: none;
    }
  }

  &-footer {
    margin-top: auto;
    height: 2em;
    display: flex;
    flex-direction: row;
    & > button {
      color: white;
      font-weight: 550;
      padding-right: 0;
    }
    & > select {
      background-color: inherit;
      border: none;
      color: white;
      font-weight: 550;
      width: 7em;
      &:focus {
        outline: none;
      }
      & > option {
        color: black;
      }
    }
  }

  &-arrow-button {
    height: 6em;
    margin: auto;
    background-color: white;
    border: none;
    color: hsla(208, 56%, 55%, 1);
    &:focus {
      outline: none;
    }
    &:hover {
      color: #0069d9
    }
    &:disabled {
      color: grey
    }
    @media (max-width: 415px) {
      display: none;
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 1em;
    flex-shrink: 0;
  }

  &-lang-select {
    background-color: #e6faff;
    display: flex;
    padding: 1em 1em;
    justify-content: center;
    border: 1px solid whitesmoke;
    border-bottom: none;
    border-radius: 1em 1em 0 0;
  }

  &-menu-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    &:focus {
      outline: 0;
    }
  }

  &-mobile-template {
    height: auto;
    width: 90%;
    max-width: 25em;
  }

  &-fab-menu {
    position: fixed;
    bottom: 1em;
    left: 1em;
    display:  flex;
    flex-direction: column-reverse;
    pointer-events: none;
    z-index: 1;
  }

  &-fab {
    align-self: flex-start;
    background-color: #00AFDC;
    border-radius: 500px;
    border: none;
    width: 3.5em;
    height: 3.5em;
    box-shadow: 0 6px 10px 0 #666;
    pointer-events: auto;
    &:focus {
      outline: 0;
    }
  }

  &-fab-option {
    align-self: flex-start;
    display: flex;
    padding-left: 0;
    border: none;
    background-color: transparent;
    color: #777;
    align-items: center;
    pointer-events: auto;
  }

  &-fab-icon {
    background-color: white;
    border-radius: 500px;
    width: 2.8em;
    height: 2.8em;
    box-shadow: 0 6px 10px 0 #666;
    display: flex;
    align-items: center;
    border: 1px solid #777;
  }

  &-fab-text {
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 12px;
    box-shadow: 0 6px 10px 0 #666;
    border: 1px solid #777;
  }

  &-template-button {
    background-color: #76c8d4;
    border-color: #76c8d4;
    color: white;
  }

  &-template-button-clear {
    background-color: #ffb449;
    border-color: #ffb449;
    color: white;
  }

  &-template-button-save {
    background-color: #77dd77;
    border-color: #77dd77;
    color: white;
  }
}

.test {
  &-container {
    display: flex;
    max-width: 600px;
    flex-direction: column;
  }
  &-question-container {
    min-width: 100%;
    padding-top: 1em;
  }
  &-info {
    font-style: italic;
  }
  &-top-info {
    font-size: 22px;
  }
  &-counter {
    font-size: 22px;
    border: 2px solid #777;
    border-radius: 0.5em;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-prephrase {
    font-style: italic;
    color: $primary-color;
    font-size: 18px;
    padding-bottom: 1em;
  }
  &-question {
    padding-top: 0.5em;
    font-size: 22px;
    margin-bottom: 0.5em;
  }
  &-choice-button {
    width: 100%;
    min-width: 100%;
    margin-bottom: 1em;
    font-size: 22px;
  }
  &-controls {
    font-size: 1.5em;
    border: 1px solid #777;
    border-radius: 0.5em;
    align-self: flex-start;
    padding: 10px;
    margin-top: 1em;
    text-align: center;
  }
  &-aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

// No blurring/dimming for popups inside modal elements.
.blurring.dimmed.dimmable > :not(.dimmer).popup {
  filter: none;
}

.tooltip { //Overwrites react-popper-tooltip styles.

  &-container {
    text-align: center;
    padding: 0em;

    &.clickable{
      &:hover{
        cursor: pointer;
      }
    }

  }

  &-blue {
    background-color: $tooltip-blue;
    color:white;
    padding: 0.3em;
  }

  &-green{
    background-color: $tooltip-green;
    color:white;
    padding: 0.3em;
  }
}

.story-item-dropdown {
  .delete-button{
    color:white !important;
  }
}

.offline-notification{
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.8;

  h3 {
    margin:1em;
  }

}

.concept-setting-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border: 1px solid black;
  border-color: #DEE2E6;
  background-color: #F9FAFB;
  border-radius: 7.5px;
}

.concept {
  padding-left: 2em;
  input {
    margin-right: 0.5em;
  }

  &-row {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    &:focus {
      outline: none;
    }
  }

  &-disabled {
    color: gray;
  }

  &-title {
    font-size: 24px;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
  }

  &-enable-all {
    padding: 0.1em 0 0 0.8em;
    font-size: 18px;
    display: flex;
  }

  &-toggles {
    margin-top: 0.5em;
    padding-left: 0.9em;
    margin-left: -1em;
    display: flex;
  }

  &-toggle {
    margin-left: 1em;
  }

  &-level {
    color: gray;
  }

  &-caret {
    width: 1.5em;
  }
}

.wordnest-cont {
  overflow-y: auto;
  padding: 1em 6em 1em 1em;
  width: 100%;
}

.wordnest {
  padding-left: 3.5em;
  &-row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }

  &-word {
    margin-right: 0.5em;

    &:hover {
      color: black!important;
    }

    &:focus {
      color: black;
    }
  }

  &-chosen-word {
    color: #388A3D;
    padding: 0.15em;
    border: 1.8px solid #388A3D;
    border-radius: 10px;
    background-color: #E6FCE7;
  }

  &-additional-info {
    color: #3b3b3b;
    font-size: 0.85em;
    background-color: #f1f1f1;
    border-radius: 0.5em;
    padding: 0em  0.15em;
    margin: 0.075em;
  }

  &-link {
    color: #3b3b3b;
    font-size: 0.85em;
    background-color: #e6effa;
    border-radius: 0.5em;
    padding: 0em  0.15em;
    margin: 0.075em;

    &:hover {
      background-color: #c2ddfc;
    }

    &:focus {
      transition-delay:1.5s;
      color: rgb(247, 62, 62);
      background-color: #c2ddfc;
    }
  }

  

  @media (max-width: 760px) {
    padding-left: 2em;

    &-row {
      display: flex;
      justify-content: space-between;
      font-size: 14px;

    }
  }
}

.spinner-container {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestedSources{

  &-container{
    padding-top: 1em;
  }
  
  &-row{
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 0;
  }
}

.table-progress-bar {
  height: 1.5em;
  border-radius: 1rem;
  width: 100%;
}

.progress-bar {
  border-radius: 1rem;
  height: 1.5em;

  &-cont {
    position: sticky;
    margin-bottom: 1em;
    background-color: #DEDEDE;
    padding: 0.15em;
    border-radius: 1em;
    z-index: 1;
  }
}

.competition-progress {
  position: sticky;
  background-color: #FFF;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  & span:first-child {
    text-align: center;
    color: gray;
  }

  & span:nth-child(2) {
    margin-bottom: 0;
    font-size: 34px;
    font-weight: 500;
    color: darkgreen;
  }
}
.date-pickers-container {
  padding: 1em;
  border: 1px solid black;
  border-color: #DEE2E6;
  background-color: #F9FAFB;
  border-radius: 7.5px;
  margin-top: 1.5em;
}

.date-pickers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.medal-info {
  border: 2px solid #ccc;
  border-radius: 1rem;
  padding: .5rem;
  display: flex;
  align-items: center;
  width: 120px;
}

.medal-amount {
  font-size: 20px;
  font-weight: 650;
}

.medal-name {
  font-size: 13px;
  color: #777;
}

.achievements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
}

.achievement-medals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.achievement-wrapper {
  border: 2px solid #ccc;
  border-radius: 1rem;
}

.medal-wrapper {
  border: 1px solid #ccc;
  border-radius: 1rem;
  color: #777;
}

.achievement-container {
  margin-top: -0.8em;
}

.achievement-title {
  background: white none repeat scroll 0 0;
  display: inline-block;
  padding: 0 2px;
  margin-left: 1.5rem;
  font-weight: 550;
}

.medal-title {
  background: white none repeat scroll 0 0;
  display: inline-block;
  padding: 0 2px;
  font-weight: 550;
}

.achievement-content {
  padding: 1rem 1.5rem;
}

.achievement-progress {
  height: 2rem;
  border-radius: .5rem;
  position: relative;
  & > div {
    border-radius: .5rem;
  }
  & span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 650;
    color: #232b2b;
  }
}

.achievement-toast {
  border-radius: 2rem;
  margin: 1rem;
  background-color: #77DD77;
}

.leaderboard-item-container {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 1em 1.2em;
  border-bottom: 1px solid lightgray;
  margin-right: - map.get($spacing, "xs");
  margin-left: - map.get($spacing, "xs");
}

.leaderboard-reward {
  height: 1.3rem;
  width: 1.3rem;
  margin-left: .5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  color: white;
  align-self: center;
}

.position {
  &-gold {
    background-color: gold;
    border: 1px dotted goldenrod;
  }

  &-silver {
    background-color: silver;
    border: 1px dotted gray;
  }

  &-bronze {
    background-color: #CD7F32;
    border: 1px dotted #A75B10;
  }
}

.leaderboard-winner-container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  max-width: 512px;
  margin: auto;
  & > * {
    flex: 1 1 0px;
  }
}

.leaderboard-winner-graphic {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  position: relative;

  &.first {
    height: 84px;
    width: 84px;
    border-color: gold;
  }

  &.second {
    border-color: lightgray;
  }

  &.third {
    border-color: #F3A960;
  }
}

.leaderboard-winner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-winner-name {
  text-align: center;
  padding-top: .5rem;
  font-weight: 500;
  font-size: 13px;
  color: dimgray;
  word-break: break-all;
}

.leaderboard-winner-record {
  font-size: 12px;
  font-weight: 650;
  color: steelblue;
}

.leaderboard-wreadth {
  position: absolute;

  &.first-wreadth {
    filter: invert(11%) sepia(13%) saturate(113%) hue-rotate(10deg) brightness(126%) contrast(150%);
  }

  &.second-wreadth {
    top: 2px;
    filter: invert(94%) sepia(8%) saturate(19%) hue-rotate(314deg) brightness(90%) contrast(91%);
  }

  &.third-wreadth {
    top: 2px;
    filter: invert(89%) sepia(8%) saturate(6025%) hue-rotate(316deg) brightness(103%) contrast(91%);
  }
}

.crosswords-clue {
  white-space: nowrap;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  padding: 0.1em;
  border-radius: 0.3em;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 255, 204);
  }
}

.account-info-item {
  color: #777;
  font-style: italic;
  font-weight: 500;
  font-size: 1.3rem;
}

.footer {
  font-size: 0.9rem;
  padding: 0.5em;
  width: 95%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f7f7;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  color: #708090;
  flex-wrap: wrap;

  &-wrapper {
    width: 100%;
    position: sticky;
    bottom: 0;
  }

  &-item {
    margin: .375rem 1rem;
  }

  &-button {
    margin: .375rem 1rem;
    color: inherit;
    background-color: inherit;
    border: none;
    padding: 0;
  }

  &-button:hover {
    color: $primary-color;
  }

  & a {
    color: $primary-color;
  }

  & div:nth-child(2) {
    text-align: 'right';
    padding-left: 0.5em;
  }
}

.language {
  width: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  cursor: pointer;

  &-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &-image {
    height: 40px;
    width: 60px;
    border: 1px solid whitesmoke;
  }

  &-name {
    color: black;
  }
}

.banner {
  background-color: #cce5ff;
  color: #004085;
  border: 1px solid #b8daff;
  border-radius: 0.25em;
  padding: 0.75em 0.75em 0.75em 1.25em;
  display: flex;
  justify-content: space-between;

  transform: translateX(-100%);
  animation: slide-in 0.5s forwards;
  @keyframes slide-in {
    100% { transform: translateX(0%); }
  }
}

.iframe {
  &-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.landing-page {
  &:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px); 
    z-index: -1;
  }
  background-image:
      linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
      url('./images/bookstack.jpg');
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  z-index: 0;
  padding: 3em 1em;

  &-button {
    border-radius: 1em;
    padding: 0.8em 2em;
    background-color: #4c91cd;
    color: white;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
  }
}

.login-form {
  background-color: white;
  border-radius: 0.5em;
  padding: 1em 2em;
  margin-bottom: 1em;
}

.report-button {
  border-radius: 1em;
  padding: 0.5rem 1rem;
  background-color: #4c91cd36; // #4c91cd;
  color: #3287f3; // white;
  font-weight: 600;
  border: none;

  &:hover {
    background-color: #4c91cd69; // #0069d9;
  }
}

.group-management-buttons {
  @media (max-width: 1024px) {
    flex-direction: column;
    & > button {
      margin-bottom: map.get($spacing, "sm");
    }

    & > :not(:last-child) {
      margin-right: 0;
    }
  }
}

.group-buttons {
  & > button {
    align-self: flex-start;
  }

  @media (max-width: 400px) {
    flex-direction: column;
    
    & > button {
      align-self: stretch;
      margin-top: 0.5em;
      margin-left: 0;
    }
  }
}

.group-analytics-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 640px) {
    flex-direction: column;
    margin-top: -0.5em;
    & > * {
      flex-grow: 1;
      margin-top: 0.5em;
    }
  }
}

.group-analytics-student-dropdown {
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;
  font-weight: bold;
  text-align: bottom;
  padding-left: 0.2rem;
  align-items: center;
  gap: 2em;
}

.group-analytics-no-results {
  padding-top: 5rem;
  font-size: 1.3rem;
  font-style: italic;
  display: flex;
  justify-content: center;
  color: #777;
}

.tab-text {
  font-size: 14px;

  @media (max-width: 450px) {
    font-size: 13px;
  }
  @media (max-width: 380px) {
    font-size: 12px;
  }
  @media (max-width: 355px) {
    font-size: 11px;
  }
  @media (max-width: 330px) {
    font-size: 10px;
  }
}

.wrap-and-grow {
  display: flex;
  flex-wrap: wrap;
  & button {
    flex-grow: 1;
  }
}

.semantic-pagination {
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  & > * {
    flex-basis: 0 !important;
    flex-grow: 1 !important;
    justify-content: center !important;
  }
}

// General classes


// ANIMATIONS
.slide-from-left {
  transform: translateX(-100%);
    animation: slide-in 0.5s forwards;
      @keyframes slide-in {
      100% { transform: translateX(0%); }
    }
}

.slide-from-bottom {
  transform: translateY(100%);
    animation: slide-in 0.4s forwards;
      @keyframes slide-in {
      100% { transform: translateY(0%); }
    }
}

// SCROLL TO TOP ARROW
.scroll-to-top {
    color: $primary-color;
    position: fixed; 
    width: 1em;
    bottom: 20px;
    align-items: center;
    height: 1em;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.1s;
    opacity: 0.2;

    &:hover {
      opacity: 1;
    }
}
  
@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 0.5;
	}
}

